.links{
    font-size: 20px;
    color: white;
    margin-left: 20px;
}
.links:hover{
    text-decoration: underline;
    font-size: 25px;
} 
.row::after{
    content: "";
    clear: both;
    display: inline;
}
.mainDiv{
    text-align: center;
    float: left;
    padding: 10px;
    border: 1px solid purple;
    text-align: center;
    margin: 10px;
}
.mainDiv img{
    width:300px;
    height: 150px;
    margin: 10px;
}
.lp{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.movie_head i{
    float: right;
}
#pkmnicu img{
    height: 500px;
    width:1000px; 
}
#pkmnicu p{
    font-size: 50px;
    color: aquamarine;
    font-family: 'ZCOOL XiaoWei', serif;
}
#pkmn img{
    width: 500px;
    height:300px; 
}
#pkmn p{
    font-size: 50px;
    color: aquamarine;
    font-family: 'ZCOOL XiaoWei', serif;
}
.main{
   text-align: center;
    float: left;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.nd{
 margin-top: 40px;   
}
.main img{
    width: 500px;
    height: 250px;
}
.mn{
    font-family: 'Viaoda Libre', cursive;
    font-size: 50px;
}
.book{
    cursor: pointer;}
.book hr{
    margin-bottom: 10px;
}
.modal-content{
margin-top: 100px;
}
.img_modal{
    display: inline-block;
}
.p_modal{
    margin-top: 10px;
}
.modal-body{
    text-align: center;
}
#amk iframe
{
    width: 100%;
}
 
input
{
    background: grey
}
#am {
    margin-left: 100px;
}
